Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv

In [1]:
import pandas as pd

tab = pd.read_csv("2017_jun_final.csv")

Прочитайте отриману таблицю, використовуючи метод head

In [2]:
print(tab.head())

   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

Визначте розмір таблиці за допомогою методу shape

In [3]:
tab.shape

(8704, 25)

Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [4]:
tab.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [5]:
(tab.isnull().sum()/len(tab)) * 100

N                                    0.000000
Должность                            0.000000
Язык.программирования               44.232537
Специализация                       82.938879
Общий.опыт.работы                    0.000000
Опыт.работы.на.текущем.месте         0.000000
Зарплата.в.месяц                     0.000000
Изменение.зарплаты.за.12.месяцев     0.000000
Город                                0.000000
Размер.компании                      0.000000
Тип.компании                         0.000000
Пол                                  0.000000
Возраст                              0.000000
Образование                          0.000000
Университет                          4.113051
Еще.студент                          0.000000
Уровень.английского                  0.000000
Предметная.область                   2.562040
Дата.заполнения                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64


Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

In [23]:
columns = ['Язык.программирования'] + list(tab.dropna(axis=1, how='any').columns)
tab_cleared = tab.loc[:, columns]
print(tab_cleared)

     Язык.программирования     N                 Должность Общий.опыт.работы  \
0                      NaN     1        Junior QA engineer               0.5
1                      NaN     2        Junior QA engineer  меньше 3 месяцев
2                  C#/.NET     3         Software Engineer                 4
3               JavaScript     4         Software Engineer                 5
4               JavaScript     5  Senior Software Engineer    10 и более лет
...                    ...   ...                       ...               ...
8699                   NaN  8700               QA engineer                 1
8700                   NaN  8701                 Marketing               0.5
8701            Ruby/Rails  8702  Junior Software Engineer                 1
8702                   NaN  8703                 Team lead                 6
8703                  Java  8704  Senior Software Engineer                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                             0.5               400
1                меньше 3 месяцев               430
2                               1              2500
3                               4              2000
4                             0.5              4500
...                           ...               ...
8699             меньше 3 месяцев               700
8700                          0.5               400
8701                          0.5               800
8702                            4              2600
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  \
0                                    0  Харьков       до 10 человек
1                                  130  Харьков  свыше 1000 человек
2                                  800     Киев     до 1000 человек
3                                  400   Одесса      до 200 человек
4                                  500   Другой       до 10 человек
...                                ...      ...                 ...
8699                               700   Одесса       до 50 человек
8700                               120     Киев       до 50 человек
8701                               500    Львов       до 10 человек
8702                                 0    Днепр  свыше 1000 человек
8703                               800   Одесса     до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
0      Аутсорсинговая  женский       20  Незаконченное высшее         True
1      Аутсорсинговая  женский       21  Незаконченное высшее         True
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
...               ...      ...      ...                   ...          ...
8699   Аутсорсинговая  мужской       23                Высшее        False
8700      Продуктовая  женский       22                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8702   Аутсорсинговая  мужской       34                Высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
0          ниже среднего  12/06/2017 12:38:08
1          выше среднего  12/06/2017 12:42:51
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
...                  ...                  ...
8699             средний  12/07/2017 15:45:24
8700       ниже среднего  12/07/2017 17:00:06
8701       выше среднего  12/07/2017 17:32:26
8702         продвинутый  12/07/2017 18:14:59
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
...                                                 ...   ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
0                 0.5     400
1                 0.0     430
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
...               ...     ...
8699              0.0     700
8700              0.5     400
8701              0.5     800
8702              4.0    2600
8703              2.0    5000

[8704 rows x 20 columns]

Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [24]:
(tab_cleared.isnull().sum()/len(tab)) * 100

Язык.программирования               44.232537
N                                    0.000000
Должность                            0.000000
Общий.опыт.работы                    0.000000
Опыт.работы.на.текущем.месте         0.000000
Зарплата.в.месяц                     0.000000
Изменение.зарплаты.за.12.месяцев     0.000000
Город                                0.000000
Размер.компании                      0.000000
Тип.компании                         0.000000
Пол                                  0.000000
Возраст                              0.000000
Образование                          0.000000
Еще.студент                          0.000000
Уровень.английского                  0.000000
Дата.заполнения                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
dtype: float64

Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

In [25]:
tab_fin = tab_cleared.dropna()
print(tab_fin.head)

<bound method NDFrame.head of      Язык.программирования     N                 Должность Общий.опыт.работы  \
2                  C#/.NET     3         Software Engineer                 4
3               JavaScript     4         Software Engineer                 5
4               JavaScript     5  Senior Software Engineer    10 и более лет
6                  C#/.NET     7  Junior Software Engineer                 1
7                      C++     8  Senior Software Engineer                 6
...                    ...   ...                       ...               ...
8692                  Java  8693         Software Engineer                 5
8694               C#/.NET  8695  Junior Software Engineer                 1
8695                Python  8696         Software Engineer                 1
8701            Ruby/Rails  8702  Junior Software Engineer                 1
8703                  Java  8704  Senior Software Engineer                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
2                               1              2500
3                               4              2000
4                             0.5              4500
6                меньше 3 месяцев               600
7                               1              3300
...                           ...               ...
8692                            1              3500
8694                            1               550
8695                          0.5              1500
8701                          0.5               800
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев        Город  Размер.компании  \
2                                  800         Киев  до 1000 человек
3                                  400       Одесса   до 200 человек
4                                  500       Другой    до 10 человек
6                                  100  Хмельницкий    до 50 человек
7                                  500         Киев    до 10 человек
...                                ...          ...              ...
8692                               650     Удаленно   до 200 человек
8694                               550      Харьков   до 200 человек
8695                              1000         Киев    до 10 человек
8701                               500        Львов    до 10 человек
8703                               800       Одесса  до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
6      Аутсорсинговая  мужской       23                Высшее        False
7         Продуктовая  мужской       28                Высшее        False
...               ...      ...      ...                   ...          ...
8692   Аутсорсинговая  женский       28                Высшее        False
8694   Аутсорсинговая  мужской       23                Высшее        False
8695          Стартап  мужской       29                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
6          ниже среднего  12/06/2017 13:04:26
7          выше среднего  12/06/2017 13:04:27
...                  ...                  ...
8692             средний  12/07/2017 13:26:49
8694       ниже среднего  12/07/2017 14:14:33
8695             средний  12/07/2017 14:39:21
8701       выше среднего  12/07/2017 17:32:26
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0
...                                                 ...   ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
6                 0.0     600
7                 1.0    3300
...               ...     ...
8692              1.0    3500
8694              1.0     550
8695              0.5    1500
8701              0.5     800
8703              2.0    5000

[4854 rows x 20 columns]>

Визначте новий розмір таблиці за допомогою методу shape

In [26]:
tab_fin.shape

(4854, 20)

Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [27]:
python_data = tab_fin[tab_fin['Язык.программирования']=='Python']
print(python_data['Язык.программирования'])

12      Python
68      Python
87      Python
114     Python
143     Python
         ...
8546    Python
8625    Python
8635    Python
8673    Python
8695    Python
Name: Язык.программирования, Length: 207, dtype: object

Визначте розмір таблиці python_data за допомогою методу shape

In [28]:
python_data.shape

(207, 20)

Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [29]:
python_data.groupby(['Должность'])

Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"

In [30]:
df=python_data.groupby(['Должность'])
df['Зарплата.в.месяц'].agg(['min', 'max'])

                           min   max
Должность
Junior Software Engineer   100  1250
Senior Software Engineer  1300  9200
Software Engineer          500  5400
System Architect          3000  5000
Technical Lead            1425  6200

Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [31]:
df_rates = df['Зарплата.в.месяц'].agg(['min', 'max'])
def fill_avg_salary(x):
    return x.mean()
df_rates['avg'] = df_rates.apply(fill_avg_salary, axis=1)
print(df_rates)

                           min   max     avg
Должность
Junior Software Engineer   100  1250   675.0
Senior Software Engineer  1300  9200  5250.0
Software Engineer          500  5400  2950.0
System Architect          3000  5000  4000.0
Technical Lead            1425  6200  3812.5

Створіть описову статистику за допомогою методу describe для нового стовпчика.

In [32]:
describe_stats = df_rates['avg'].describe()
print(describe_stats)

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: avg, dtype: float64

Збережіть отриману таблицю в CSV файл

In [20]:
describe_stats.to_csv("describe_stats.csv")